/* ==================================
Admin
=================================== */
.home-content {
    .row {
        margin-right: -5px;
        margin-left: -5px;
        > div {
            padding-right: 5px;
            padding-left: 5px;
        }
    }
}
