/* ==================================
Exam
=================================== */
.single-exam {

    .exam-wrap {
        border: 1px solid #efeff3;
        padding: 30px;
        background: #fff;
        margin-bottom: 20px;
    }
    &__question {
        p {
            margin-bottom: 10px;
            font-size: 24px;
            font-weight: 500;
            font-family: 'Poppins', sans-serif;
        }
    }
    &__choices {
        position: relative;
        display: block;
        width: 100%;
        height: 70px;
        margin-bottom: 5px;

        border-bottom: 1px solid #f5f3f3;
        p {
            margin-bottom: 5px;
            
        }
        input {
            float: left;
            margin-top: 5px;
            margin-right: 5px;
        }

        input[type=radio] {
            position: absolute;

            visibility: hidden;

            &:checked ~ .check {
                border: 5px solid $primaryColor;
            }
            &:checked ~ .check::before {
                background: $primaryColor;
            }
            &:checked ~ label {
                color: $primaryColor;
            }
        }
        label {
            position: relative;
            z-index: 9;

            display: block;
            height: 30px;
            padding: 30px 25px 25px 40px;
            margin: 10px auto;

            font-size: 1em;
            font-weight: 300;

            cursor: pointer;
            -webkit-transition: all .25s linear;
        }
        .check {
            position: absolute;
            top: 30px;
            left: 0;
            z-index: 5;

            display: block;
            width: 25px;
            height: 25px;

            transition: border .25s linear;

            border: 5px solid #aaa;
            border-radius: 100%;

            &::before {
                position: absolute;
                top: 2px;
                left: 2px;

                display: block;
                width: 11px;
                height: 11px;
                margin: auto;

                content: "";
                transition: background .25s linear;

                border-radius: 100%;
            }
        }
    }
}
