.nav-tabs {
	border-bottom: 0;
	li {
		a {
			display: block;
			padding: 5px 15px;
			&.active {
				

					background: #fff;
					border-top-right-radius: 3px;
					border-top-left-radius: 3px;
			
			}

		}

	}
}
.tab-content {
	background: #fff;
	padding: 10px;
	min-height: 400px;
}