/* ==================================
Single Team
=================================== */
.single-team {
    margin-bottom: 20px;

    text-align: center;

    h2 {
        margin-top: 20px;

        font-size: 20px;
        font-weight: 600;
    }
}
.team-area {
    width: 100%;
    max-width: 100% !important;
    background: #f5f5f5;
}
.team-area .container {
    max-width: 600px;
    margin: 0 auto;
}